<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner">
        <p class="govuk-phase-banner__content">
            <a href="https://www.smartsurvey.co.uk/s/XXECG8/">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service – <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/XXECG8/">help us to improve it</a>
            </span>
        </p>
    </div>
</div>
<div class="govuk-width-container">
    <div class="tl-breadcrumbs">
        {{breadcrumbs}}
    </div>
</div>



<!-- Main content -->
<main id="main-content" role="main">
    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{category.name}}</h1>
                {{#if category.description}}
                <p class="govuk-body-l">{{category.description}}</p>
                {{/if}}
            <section>
                <ul class="govuk-list">
                    {{#each sections}}
                    {{#if articles}}

                    {{#each articles}}
                    <li>
                        <a class="govuk-link govuk-heading-m govuk-!-margin-bottom-1" href="{{url}}">{{title}}</a>
                        <p class="govuk-body govuk-!-margin-top-0">{{excerpt body}}</p>
                    </li>
                    {{/each}}

                    {{/if}}
                    {{/each}}

                </ul>
                </section>
            </div>
        </div>
    </div>
</main>

