<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback">help us to improve it</a>
            </span>
        </p>
    </div>
</div>



<!-- Main content -->
<main id="main-content" role="main">

        <!-- Hero Banner -->
    <div class="tl-hero--community">


        <div class="govuk-width-container" id="tl-breadcrumbs--community">
            <div class="tl-breadcrumbs">
                {{breadcrumbs}}
            </div>
        </div>
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">T Level provider community</h1>
                    <label class="tl-hidden" for="query">
                        Search the community
                    </label>
                    <div class="tl-form-group tl-search--container tl-search--community">

                        <div class="tl-search--error tl-hidden">
                            <span class="tl-error--message"></span>
                        </div>
                        {{search placeholder="Search the community" submit=true class='tl-search govuk-!-margin-top-2' scoped=settings.scoped_community_search}}

                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Community cotnent -->
        <div class="govuk-width-container govuk-!-margin-top-7">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Category</th>
                                <th scope="col" class="govuk-table__header">Threads</th>
                                <th scope="col" class="govuk-table__header">Latest threads</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">



                            {{#each topics}}
                            <tr class="govuk-table__row tl-community--table__row">
                                <th scope="row" class="govuk-table__cell"><a href="{{url}}" class="govuk-link govuk-heading-s">{{name}}</a></th>
                                <td class="govuk-table__cell">{{t 'post_count' count=post_count}}</td>
                                <td class="govuk-table__cell">

                                    <!-- ********* script to call the API for each topic *********** -->
                                    <script>
                                            $.getJSON('/api/v2/community/topics/{{id}}/posts.json?sort_by=updated_at', function(data) {
                                                var postsList = '';
                                                $.each(data.posts, function(idx, itm) {
                                                    postsList += '<li>';
                                                    postsList += '<a class="govuk-link" href="' + itm.html_url + '" id="' + itm.id + '">' +
                                                        itm.title + "" + '</a><span class="tl-text--grey">' + " (" + moment(moment(itm.updated_at).format("YYYYMMDD"), "YYYYMMDD").fromNow() + ")" + '</span>';
                                                    postsList += '</li>';
                                                    return idx < 1;
                                                });
                                                document.getElementById("{{id}}slideContainer").innerHTML = postsList;
                                            });
                                    </script>
                                    <!-- ********* End of script to call the API for each topic *********** -->
                                    <ul class="govuk-list govuk-!-margin-bottom-1" id="{{id}}slideContainer" class="posts_list">
                                    </ul>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

</main>







