<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback">help us to improve it</a>
            </span>
        </p>
    </div>
</div>



<!-- Main content -->
<main id="main-content" role="main">
    <!-- Hero Banner -->
    <div class="tl-hero--community--minimal">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">

                    <div class="govuk-width-container" id="tl-breadcrumbs--community--post">
                        <div class="tl-breadcrumbs">
                            {{breadcrumbs}}
                        </div>
                        <script>
                            $(document).ready(function breadcrumbChangelink() {
                                var link = document.querySelector(".tl-breadcrumbs a[href='/hc/en-gb/community/topics']");
                                link.setAttribute('href', "/hc/en-gb/community/posts");
                                link.innerHTML = "Discussion forum";
                            });
                        </script>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds tl-text--right govuk-!-margin-top-1">
                    <div class="tl-form-group tl-search--container tl-search--community tl-search--community--minimal">

                        <div class="tl-search--error tl-hidden">
                            <span class="tl-error--message"></span>
                        </div>
                        <form role="search" class="tl-search" data-search="" action="/hc/en-gb/search" accept-charset="UTF-8" method="get">
                            <input name="utf8" type="hidden" value="✓"><input type="search" name="query" id="query" placeholder="Search all forum posts" aria-label="Search all forum posts">
                            <input type="hidden" name="filter_by" value="community" />
                            <input type="submit" name="commit" value="Search">
                        </form>

                    </div>
                    {{#if signed_in}}
                    <a href="#" class="govuk-button govuk-!-margin-bottom-0 tl-approved--hidden">Post a new question</a>
                    {{#link 'new_post' class='govuk-button govuk-!-margin-bottom-0 tl-approved--visible'}}
                    Post a new question
                    {{/link}}

                    {{else}}
                    {{#link "new_post" class="govuk-button govuk-!-margin-bottom-0"}}Sign in to post a new question{{/link}}
                    {{/if}}


                    <script>
                        $(document).ready(function () {
                            var userRole = HelpCenter.user.role;
                            var userOrgsCount = HelpCenter.user.organizations.length;

                            if (userRole != "anonymous" && userOrgsCount > 0) {
                                var userTags = HelpCenter.user.organizations[0].tags;


                                if (userRole != "end_user" || userTags.includes('tlevels_approved')) {
                                    console.log("Approved user")
                                    $(".tl-approved--visible").css('display', 'inline-block');
                                }
                            }

                            else {
                                console.log("Not approved user")
                                $(".tl-approved--hidden").css('display', 'inline-block');;
                            }
                        });

                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- Post cotnent -->
    <div class="govuk-width-container govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body-s">
                            <img src="{{post.author.avatar_url}}" alt="" class="tl-community-post--avatar" />
                            {{#link 'user_profile' id=post.author.id class="govuk-link"}}{{post.author.name}}{{/link}},
                            <span class="{{post.author.id}}org  tl-text--grey"></span>
                        </p>
                        <script>
                                $.getJSON('/api/v2/users/{{post.author.id}}.json', function (organisationID) {
                                    var orgid = organisationID.user.organization_id;

                                    $.getJSON('/api/v2/organizations/' + orgid +'.json', function(organisation) {
                                          $('.{{post.author.id}}org').html(organisation.organization.name);
                                      });
                                });
                        </script>
                    </div>
                    <div class="govuk-grid-column-one-third tl-text--right">
                        <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Subscribe</button>

                    </div>
                </div>
                <div class="tl-community-post--main--content">
                    <h1 class="govuk-heading-l">
                        {{post.title}}
                    </h1>

                    <div class="tl-community-post--content govuk-!-margin-top-7">
                        {{post.details}}
                    </div>

                    <p class="govuk-body-s tl-text--grey">
                        {{#if post.editor}}
                        Edited on: {{date post.edited_at format='medium'}}
                        {{else}}
                        Posted on: {{date post.created_at format='medium'}}
                        {{/if}}
                    </p>

                </div>
                <div class="tl-community--post--actions">
                    {{#post.actions class="govuk-link"}}
                    Manage post &#709;
                    {{/post.actions}}
                </div>
            </div>
        </div>
    </div>

    <!-- Post replies -->
    {{#if comments}}
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-m">
                    {{post.comment_count}}
                    {{#is post.comment_count 1}}
                    reply
                    {{else}}
                    replies
                    {{/is}}
                </h2>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                {{#each comments}}
                <div class="tl-community-comment--main {{#if official}} tl-community-comment--main--official {{/if}}  {{#if pending}}tl-community-comment--main--pending{{/if}}">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <p class="govuk-body-s">
                                <img src="{{author.avatar_url}}" alt="" class="tl-community-post--avatar" />
                                {{#link 'user_profile' id=author.id class="govuk-link"}}{{author.name}}{{/link}},

                                <script>
                                $.getJSON('/api/v2/users/{{author.id}}.json', function (organisationID) {
                                    var orgid = organisationID.user.organization_id;

                                    $.getJSON('/api/v2/organizations/' + orgid +'.json', function(organisation) {
                                          $('.{{author.id}}org').html(organisation.organization.name);
                                      });
                                });
                                </script>
                                <span class="{{author.id}}org tl-text--grey"></span>
                            </p>

                        </div>
                    </div>
                    <div class="tl-community-comment--main--content">

                        <div class="tl-community-post--content">
                            {{body}}
                        </div>
                        {{#if pending}}
                        <p class="govuk-body-s tl-text--red">
                            Post pending approval
                        </p>
                        {{/if}}
                        <p class="govuk-body-s tl-text--grey">
                            {{#if editor}}
                            Edited on: {{date edited_at format='medium'}}
                            {{else}}
                            Posted on: {{date created_at format='medium'}}
                            {{/if}}
                        </p>

                    </div>
                    <div class="tl-community--comment--actions">
                        {{#actions class="govuk-link"}}
                        Manage reply &#709;
                        {{/actions}}
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                </div>
                {{/each}}


            </div>
        </div>
    </div>
    {{/if}}
    <div class="govuk-width-container">
        <div class="tl-community--pagination">
            {{pagination}}
        </div>
    </div>
    <div class="govuk-width-container ">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-m">Post a reply</h2>
                {{#if signed_in}}

                {{#form 'comment' class='govuk-form-group'}}

                <div class="tl-comment--container">
                    {{wysiwyg 'body' rows='4'  class='govuk-textarea'}}
                    <div class="comment-form-controls">

                        <div class="govuk-checkboxes govuk-!-margin-bottom-3">
                            <div class="govuk-checkboxes__item">
                                {{checkbox 'official' class="govuk-checkboxes__input"}}
                                {{label 'official' class="govuk-label govuk-checkboxes__label"}}
                            </div>

                        </div>
                        <input value="Post reply" type='submit' class="govuk-button" />

                    </div>
                </div>
                {{/form}}
                {{else}}
                {{#link "sign_in" class="govuk-button govuk-!-margin-bottom-9"}}Sign in to post a reply{{/link}}
                {{/if}}


            </div>
        </div>
    </div>

</main>


