<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner tl-phase-banner--home">
        <p class="govuk-phase-banner__content">
            <a href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback-button">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/XXECG8/" id="tl-header--feedback">help us to improve it</a>
            </span>
        </p>
    </div>
</div>

<!-- Main content -->
<main id="main-content" role="main">
    <!-- Hero Banner -->
    <div class="tl-hero">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">Support with delivering T Levels</h1>
                    <label class="tl-inlineblock govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-5" for="query">
                        Help, guidance and support materials for colleges, schools and other T Level providers
                    </label>
                    <div class="tl-form-group tl-search--container tl-search--home">

                        <div class="tl-search--error tl-hidden">
                            <span class="tl-error--message"></span>
                        </div>
                        {{search placeholder="Search for support" submit=true instant=settings.instant_search class='tl-search govuk-!-margin-top-2'}}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Lower Content -->
    <div class="govuk-width-container govuk-main-wrapper">
        <div class="tl-home--categories">

            {{#each categories}}
            {{#is name "How this site works"}}
            {{else}}
            {{#is name "T Level news and events"}}
            {{#each sections}}
            <div class="tl-home--category">
                <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                <p class="govuk-body">{{excerpt description}}</p>
            </div>
            {{/each}}

            {{else}}
            <div class="tl-home--category">
                <h3 class="govuk-heading-m"><a href="{{url}}" class="govuk-link" GTMname="{{name}}">{{name}}</a></h3>
                <p class="govuk-body">{{excerpt description}}</p>
            </div>
            {{/is}}
            {{/is}}
            {{/each}}


        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="tl-card">
                    <h3 class="govuk-heading-m">Contact us</h3>
                    <p class="govuk-body">
                        We want to hear if you have any:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>questions about how to use the site</li>
                        <li>comments on any of the content</li>
                        <li>suggestions for how we can improve</li>
                    </ul>
                    <p class="govuk-body govuk-!-margin-bottom-0">Email: <a class="govuk-link" id="tl-home--contact" href="mailto:support.deliveringtlevels@education.gov.uk"><span class="tl-breakword">support.deliveringtlevels@education.gov.uk</span></a></p>

                </div>
            </div>
        </div>
    </div>


</main>
