<div class="govuk-width-container ">
    <!-- Phase banner -->
    <div class="govuk-phase-banner tl-phase-banner">
        <p class="govuk-phase-banner__content">
            <a href="https://www.smartsurvey.co.uk/s/XXECG8/">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    Give feedback
                </strong>
            </a>
            <span class="govuk-phase-banner__text">
                This is a new service - <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/XXECG8/">help us to improve it</a>
            </span>
        </p>
    </div>
</div>
<div class="govuk-width-container" id="tl-breadcrumbs--search">
    <div class="tl-breadcrumbs">
        {{breadcrumbs}}
    </div>
</div>


<!-- Main content -->
<main id="main-content" role="main">
    <!-- Article Content -->
    <div class="govuk-width-container govuk-main-wrapper">
        <section id="tl-search--box">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Search results</h1>

                    <div class="tl-form-group tl-search--container">
                        <div class="tl-search--error tl-hidden">
                            <span class="tl-error--message"></span>
                        </div>
                        {{search placeholder="Search for support"  submit=true instant=settings.instant_search class='tl-search govuk-!-margin-top-2'}}
                    </div>
                </div>
            </div>
        </section>
        <section id="tl-search--results">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{#if results}}
                    <h2 class="govuk-body-m govuk-!-margin-top-6">
                        Showing <span class="govuk-!-font-weight-bold">{{results_count}}</span> results for <span class="govuk-!-font-weight-bold">"{{query}}"</span>
                    </h2>
                    <ul class="tl-search--results--list">
                        {{#each results}}
                        <li>
                            {{#each path_steps}}
                            {{#is @index 1}}
                            <span class="tl-search--results--category">{{name}}</span>
                            {{/is}}
                            {{/each}}

                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2"><a class="govuk-link tl-search--results--link" href="{{url}}">{{title}}</a></h3>
                            <p class="govuk-body tl-search--results--body">{{text}}</p>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="tl-search--pagination">
                        {{pagination}}
                    </div>
                    {{else}}
                    <h2 class="govuk-body-m govuk-!-margin-top-6">
                        No results found for <span class="govuk-!-font-weight-bold">"{{query}}"</span>
                    </h2>
                    <p class="govuk-body">Improve your search results by:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>double-checking your spelling</li>
                        <li>using fewer keywords</li>
                        <li>searching for something less specific</li>
                    </ul>
                    {{/if}}

                </div>
            </div>
        </section>

    </div>
</main>




